<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="*" Name="Project Shamsi" Language="1065" Version="1.0.0.0" Manufacturer="YourCompany" UpgradeCode="12345678-1234-1234-1234-123456789abc">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="نسخه جدیدتر برنامه از قبل نصب شده است." />
    <MediaTemplate />

    <!-- دایرکتوری نصب -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="ProjectShamsi">
          <Component Id="MainExecutable" Guid="11111111-2222-3333-4444-555555555555">
            <File Id="ProjectShamsi.AddIn.dll" Source="$(var.ProjectShamsi.TargetDir)\ProjectShamsi.AddIn.dll" />
            <File Id="ProjectShamsi.Hook.dll" Source="$(var.ProjectShamsi.TargetDir)\ProjectShamsi.Hook.dll" />
            <File Id="ProjectShamsi.vsto" Source="$(var.ProjectShamsi.TargetDir)\ProjectShamsi.vsto" />
            <File Id="ConfigFile" Source="$(var.ProjectShamsi.TargetDir)\config.json" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="ProjectShamsi" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>

    <!-- اضافه کردن UI مینیمال -->
    <UIRef Id="WixUI_Minimal"/>
    <UIRef Id="WixUI_ErrorProgressText"/>

  </Product>
</Wix>
